/* .Toastify-success {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }

  .Toastify-error {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
  }

  .Toastify-info {
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
  }

  .Toastify__toast--warning {
    background-color: #ff9800; 
    color: white; 
    border-radius: 5px; 
  } */